body {
    background-color: #36393E;
    color: #FFE4C4;
    font-family: Nunito, 'Courier New', Courier, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.discord_object_properties {
    border: 5px groove #5865F2;
    border-radius: 10px;
    padding: 10px;
}

.discord_object_properties_category {
    background-color: #424549;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.discord_object_properties_content {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.discord_object_properties_content_item {
    background-color: #1E2124;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.discord_object_properties_intro_p {
    font-size: 20px;
}

.discord_object_properties_intro_p_server_owner,
.discord_object_properties_intro_p_user_id {
    background-color: #1E2124;
    padding: 5px;
}
a.carl-bot-link {
    color: #5865F2;
}
.c {
    background-color: #1E2124;
    color: salmon;
    text-align: center;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}